
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.body{
    font-family: 'Rubik';
}
.login_form{
    font-family: 'Rubik';
}
.form_login{
   
    margin:auto;
    padding: 30px;
    background-color: #e2e2e2;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 1px 12px 17px 0px rgba(34, 60, 80, 0.2);
}
.login_form h2{
    text-align: center;
}
.error_message{
    margin-top: 30px;
    text-align: center;
}
.form_login label{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}
.form_login{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}
.errorlist {
    display: none;
}
.form_login input{
    border: none;
    cursor: pointer;
    outline:  0;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
}
